<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{% static 'css/index_styles.css' %}">

	<title>The Great War</title>
</head>
<body>
	<header>
		<h1 class="header__main-heading">THE GREAT WAR</h1>
	</header>
	<nav>
		<ul class="nav__nav-list">
			<li class="nav-list__item"><a href="/">Новая игра</a></li>
			<li class="nav-list__item"><button id="load_game">Загрузить игру</button></li>
			<li class="nav-list__item"><button id="support">Поддержка</button></li>
		</ul>
	</nav>
	<footer>
		<div class="footer__inc-name">PERK_INC</div>
		<div class="footer__year">2021&reg</div>
	</footer>

	<section class="load-page" hidden>
		<div class="popup__header">
			<h2 class="popup__heading">ЗАГРУЗИТЬ ИГРУ</h2>
			<button class="popup__close-btn">&#9932;</button>
		</div>
		<div class="load-page__form">
			<div class="load-page__form_info">
				Введите данные вашего сохранения:
			</div>
			<form class="load-page__form_form" action="">
				<input type="text" placeholder="Название*" required>
				<input type="password" placeholder="Пароль*" required>

				<button type="submit">Загрузить</button>
			</form>
		</div>
		<div class="load-page__last">
			<div class="load-page__form_info">
				Последнее сохранение:
			</div>
			<div class="load-page__last__save">
				<img src="https://i.ytimg.com/vi/RQzqWEiTYjw/maxresdefault.jpg" alt="skyrim" class="load-page__last__img">
				<h3 class="load-page__last__heading">Империя Тамриэль</h3>
				<div class="load-page__last__time">24.10.2020 14:43</div>
			</div>
		</div>
	</section>

	<section class="support-page" hidden>
		<div class="popup__header">
			<h2 class="popup__heading">ПОДДЕРЖАТЬ РАЗРАБОТЧИКА</h2>
			<button class="popup__close-btn">&#10005;</button>
		</div>
		<div class="support-page__info">
			<div>Вы можете поддержать разработчика финансово, если считаете что это произведение искусства достойно вашего рубля</div>
			<div>Кэш даст разработчику неистовую мотивацию к дальнейшему развитию игры, так что это в ваших интересах</div>
			<a href="https://m.vk.com/away.php?to=https%3A%2F%2Fmy.qiwi.com%2Fform%2FDenys-PMkfk6zW-Z">Отправить</a>
		</div>
	</section>

	<section class="shadow-popup" hidden></section>

	<script src="{% static 'js/index_scripts.js' %}"></script>
</body>
</html>