{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Отмена</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
      crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/index-styles.css' %}">
  </head>
  <body class="container-fluid">
    <header class="row"> 
    	<div class="row col-xl-8 offset-xl-2">
    		<div class="header__logo-block col-xl-2">
    			<a class="header__logo-block_link" href="https://vk.com/feed"><img src="{% static 'images/vk_logo.svg' %}" alt="VK"></a>
    		</div>
    		<div class="header__center-block col-xl-7">
    			<div class="header__center-block_formblock"><input class="header__center-block_form" type="text" placeholder="Поиск"></div>
				<a class="header__center-block_link" href=""><img class="header__center-block_link_inner-icon" src="{% static 'images/notify-icon.svg' %}" alt="VK"></a>
				<a class="header__center-block_link" href=""><img class="header__center-block_link_inner-icon" src="{% static 'images/audio-icon.svg' %}" alt="VK"></a>
    		</div>
    		<div class="header__acc-block col-xl-3">
    			<div class="dropdown open">
				  <a class="header__acc-block__dropdown btn btn-secondary dropdown-toggle" href="http://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <h3 class="header__acc-block__dropdown_name">Денис</h3>
				    <img class="header__acc-block__dropdown_ava" src="https://vk.com/images/camera_50.png?ava=1" alt="">
				  </a>

				  <div class="header__acc-block__dropdown_menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
				    <a class="dropdown-item header__acc-block__dropdown-item header__acc-block__dropdown-item_data" href="#">
					    <img class="header__acc-block__dropdown-item_ava" src="https://vk.com/images/camera_50.png?ava=1" alt="">
					    <div class="header__acc-block__dropdown_nameblock">
						    <h3 class="header__acc-block__dropdown-item header__acc-block__dropdown-item_name">Денис Перков</h3>
						    <span class="header__acc-block__dropdown-item header__acc-block__dropdown-item_span">Перейти в VK Connect</span>
					    </div>
				    </a>
				    <div class="dropdown-divider" style="clear: both;"></div>
				    <a class="header__acc-block__dropdown-item dropdown-item" href="#">Настройки</a>
				    <a class="header__acc-block__dropdown-item dropdown-item" href="#">Помощь</a>
				    <div class="dropdown-divider"></div>
				    <a class="header__acc-block__dropdown-item dropdown-item" href="#">Выйти</a>
				  </div>
				</div>
    		</div>		
		</div>
	</header>
	<main class="row">
		<div class="row col-xl-8 offset-xl-2">
			<nav class="navigation-block col-xl-2">
				<ul class="navigation-block__list list-unstyled">
		          <li class="navigation-block__item"><div class="navigation-block__item__img"></div><a href="/">Моя страница</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img news"></div><a href="collection">Новости</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img messages"></div><a href="shop">Сообщения</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img friends"></div><a href="donate">Друзья</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img community"></div><a href="donate">Сообщества</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img photos"></div><a href="donate">Фотографии</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img music"></div><a href="donate">Музыка</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img video"></div><a href="donate">Видео</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img clips"></div><a href="donate">Клипы</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img games"></div><a href="donate">Игры</a></li>
		          <hr>
		          <li class="navigation-block__item"><div class="navigation-block__item__img pay"></div><a href="donate">VK Pay</a></li>
		          <hr>
		          <li class="navigation-block__item"><div class="navigation-block__item__img products"></div><a href="donate">Товары</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img notes"></div><a href="donate">Закладки</a></li>
		          <li class="navigation-block__item"><div class="navigation-block__item__img documents"></div><a href="donate">Документы</a></li>
		          <hr>
		          <li class="navigation-block__item"><div class="navigation-block__item__img coronavirus"></div><a href="donate">Коронавирус</a></li>
		          <hr>
		          <a class="afternav-link" href="">Блог</a>
		          <a class="afternav-link" href="">Разработчикам</a>
		          <a class="afternav-link" href="">Реклама</a>
		        </ul>
			</nav>
		</div>
	</main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
      crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
      crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
      crossorigin="anonymous"></script>
  </body>
</html>